.tiles{
    display: flex;
    margin: 1.5rem;
    justify-content: space-evenly;

}

.link {
    text-decoration: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}
.link:hover {
    border-bottom: 2px solid black;
}
